- container = @no_breadcrumb_container ? 'container-fluid' : container_class
- hide_top_links = @hide_top_links || false
- unless @skip_current_level_breadcrumb
  - push_to_schema_breadcrumb(@breadcrumb_title, breadcrumb_title_link)

.gl-relative
  .breadcrumbs{ class: [container, @content_class] }
    .breadcrumbs-container
      - if show_super_sidebar?
        = render Pajamas::ButtonComponent.new(icon: 'sidebar', category: :tertiary, button_options: { class: 'js-super-sidebar-toggle super-sidebar-toggle gl-ml-n3 gl-mr-2', title: _('Expand sidebar'), aria: { controls: 'super-sidebar', expanded: 'false', label: _('Navigation sidebar') }, data: {toggle: 'tooltip', placement: 'right' } })
      - elsif defined?(@left_sidebar)
        = render Pajamas::ButtonComponent.new(icon: 'sidebar', category: :tertiary, button_options: { class: 'toggle-mobile-nav gl-ml-n3 gl-mr-2', data: { qa_selector: 'toggle_mobile_nav_button' }, aria: { label: _('Open sidebar') } })
      %nav.breadcrumbs-links{ 'aria-label': _('Breadcrumbs'), data: { testid: 'breadcrumb-links', qa_selector: 'breadcrumb_links_content' } }
        %ul.list-unstyled.breadcrumbs-list.js-breadcrumbs-list
          - unless hide_top_links
            = header_title
          - if @breadcrumbs_extra_links
            - @breadcrumbs_extra_links.each do |extra|
              = breadcrumb_list_item link_to(extra[:text], extra[:link])
          = render "layouts/nav/breadcrumbs/collapsed_inline_list", location: :after
          - unless @skip_current_level_breadcrumb
            %li{ data: { testid: 'breadcrumb-current-link', qa_selector: 'breadcrumb_current_link' } }
              = link_to @breadcrumb_title, breadcrumb_title_link
        -# haml-lint:disable InlineJavaScript
        %script{ type: 'application/ld+json' }
          :plain
            #{schema_breadcrumb_json}
      = yield :header_content
